**

Resumo:

(Quando quiser ajuda no codigo,usa a interrogação após o codigo)

##Sempre abrir arquivos

In [1]:
import pandas as pd

## Visualizar dados
* head (Exibir dados)
* tail (cauda)
* index
* describe (quartil)
* transposta

In [37]:
#pd.read_csv?

#Importar arquivo
#Informar que a separação é por ponto e virgula.. normalmente é lido com virgulas...
covid_df = pd.read_csv("/content/covid2022.csv", sep = ";")
covid_df

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
0,Brasil,NaN,NaN,76,NaN,NaN,NaN,2022-07-01,26,210147125.0,32434063,76045,671700,284,30873682.0,888681.0,NaN
1,Brasil,NaN,NaN,76,NaN,NaN,NaN,2022-07-02,26,210147125.0,32471847,37784,671858,158,30880584.0,919405.0,NaN
2,Brasil,NaN,NaN,76,NaN,NaN,NaN,2022-07-03,27,210147125.0,32490422,18575,671911,53,30906575.0,911936.0,NaN
3,Brasil,NaN,NaN,76,NaN,NaN,NaN,2022-07-04,27,210147125.0,32535923,45501,672033,122,30967114.0,896776.0,NaN
4,Brasil,NaN,NaN,76,NaN,NaN,NaN,2022-07-05,27,210147125.0,32610514,74591,672429,396,31039055.0,899030.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
471991,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2022-09-18,38,3015268.0,838413,0,11825,0,NaN,NaN,1.0
471992,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2022-09-19,38,3015268.0,838501,88,11825,0,NaN,NaN,1.0
471993,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2022-09-20,38,3015268.0,838530,29,11828,3,NaN,NaN,1.0
471994,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2022-09-21,38,3015268.0,838573,43,11829,1,NaN,NaN,1.0
471995,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2022-09-22,38,3015268.0,838619,46,11829,0,NaN,NaN,1.0

In [38]:
#covid_df[colunas : linhas]
covid_df[:5]
#Abrindo as n primeiras linhas

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
0,Brasil,NaN,NaN,76,NaN,NaN,NaN,2022-07-01,26,210147125.0,32434063,76045,671700,284,30873682.0,888681.0,NaN
1,Brasil,NaN,NaN,76,NaN,NaN,NaN,2022-07-02,26,210147125.0,32471847,37784,671858,158,30880584.0,919405.0,NaN
2,Brasil,NaN,NaN,76,NaN,NaN,NaN,2022-07-03,27,210147125.0,32490422,18575,671911,53,30906575.0,911936.0,NaN
3,Brasil,NaN,NaN,76,NaN,NaN,NaN,2022-07-04,27,210147125.0,32535923,45501,672033,122,30967114.0,896776.0,NaN
4,Brasil,NaN,NaN,76,NaN,NaN,NaN,2022-07-05,27,210147125.0,32610514,74591,672429,396,31039055.0,899030.0,NaN

In [39]:
#Excluir os dados faltantes (NaN)
covid_limpo = covid_df.dropna()
covid_limpo 
#Não vai mostrar nada pois em alguma coluna em TODAS as linhas está faltando algo

Empty DataFrame
Columns: [regiao, estado, municipio, coduf, codmun, codRegiaoSaude, nomeRegiaoSaude, data, semanaEpi, populacaoTCU2019, casosAcumulado, casosNovos, obitosAcumulado, obitosNovos, Recuperadosnovos, emAcompanhamentoNovos, interior/metropolitana]
Index: []

In [40]:
#Salvar arquivo em novo nome, ou nova extensão (.to_)
covid_df.to_csv("NovoNomeArquivo.csv")
#Pode transformar em sql, json...

In [41]:
#Ultimas linhas = tail (calda) -> Se n informar nada, pega apenas as ultimas 5
covid_df.tail(10)

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
471986,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2022-09-13,37,3015268.0,838167,146,11825,0,NaN,NaN,1.0
471987,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2022-09-14,37,3015268.0,838302,135,11825,0,NaN,NaN,1.0
471988,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2022-09-15,37,3015268.0,838367,65,11825,0,NaN,NaN,1.0
471989,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2022-09-16,37,3015268.0,838413,46,11825,0,NaN,NaN,1.0
471990,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2022-09-17,37,3015268.0,838413,0,11825,0,NaN,NaN,1.0
471991,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2022-09-18,38,3015268.0,838413,0,11825,0,NaN,NaN,1.0
471992,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2022-09-19,38,3015268.0,838501,88,11825,0,NaN,NaN,1.0
471993,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2022-09-20,38,3015268.0,838530,29,11828,3,NaN,NaN,1.0
471994,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2022-09-21,38,3015268.0,838573,43,11829,1,NaN,NaN,1.0
471995,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2022-09-22,38,3015268.0,838619,46,11829,0,NaN,NaN,1.0

In [42]:
#indice do arquivo
covid_df.index

RangeIndex(start=0, stop=471996, step=1)

In [43]:
#Pegar nome das colunas
covid_df.columns

Index(['regiao', 'estado', 'municipio', 'coduf', 'codmun', 'codRegiaoSaude',
       'nomeRegiaoSaude', 'data', 'semanaEpi', 'populacaoTCU2019',
       'casosAcumulado', 'casosNovos', 'obitosAcumulado', 'obitosNovos',
       'Recuperadosnovos', 'emAcompanhamentoNovos', 'interior/metropolitana'],
      dtype='object')

In [44]:
covid_df.describe()

,coduf,codmun,codRegiaoSaude,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
count,471996.000000,469644.000000,467880.000000,471996.000000,4.702320e+05,4.719960e+05,471996.000000,471996.000000,471996.000000,8.300000e+01,8.300000e+01,467880.000000
mean,32.360384,325258.014130,32403.123698,32.214286,1.126190e+05,1.810664e+04,14.355865,363.115107,0.090643,3.264563e+07,5.809355e+05,0.069300
std,9.873307,98535.129104,9836.351818,3.481490,2.935317e+06,4.701238e+05,511.199512,9572.018291,4.398072,9.346696e+05,3.239098e+05,0.253964
min,11.000000,110000.000000,11001.000000,26.000000,7.810000e+02,0.000000e+00,-30211.000000,0.000000,-762.000000,3.087368e+07,1.422540e+05,0.000000
25%,25.000000,251200.000000,25010.000000,29.000000,5.474000e+03,7.660000e+02,0.000000,11.000000,0.000000,3.186199e+07,2.698635e+05,0.000000
50%,31.000000,314610.000000,31059.000000,32.000000,1.168900e+04,1.596000e+03,0.000000,24.000000,0.000000,3.292776e+07,5.177680e+05,0.000000
75%,41.000000,411915.000000,41015.000000,35.000000,2.576200e+04,3.909000e+03,1.000000,62.000000,0.000000,3.348802e+07,9.099985e+05,0.000000
max,76.000000,530010.000000,53001.000000,38.000000,2.101471e+08,3.461666e+07,107959.000000,685677.000000,762.000000,3.378872e+07,1.084419e+06,1.000000

In [45]:
#Trocar as colunas por linhas (Transpor)
covid_df.T

,0,1,2,3,4,5,6,7,8,9,...,471986,471987,471988,471989,471990,471991,471992,471993,471994,471995
regiao,Brasil,Brasil,Brasil,Brasil,Brasil,Brasil,Brasil,Brasil,Brasil,Brasil,...,Centro-Oeste,Centro-Oeste,Centro-Oeste,Centro-Oeste,Centro-Oeste,Centro-Oeste,Centro-Oeste,Centro-Oeste,Centro-Oeste,Centro-Oeste
estado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DF,DF,DF,DF,DF,DF,DF,DF,DF,DF
municipio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Brasília,Brasília,Brasília,Brasília,Brasília,Brasília,Brasília,Brasília,Brasília,Brasília
coduf,76,76,76,76,76,76,76,76,76,76,...,53,53,53,53,53,53,53,53,53,53
codmun,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,530010.0,530010.0,530010.0,530010.0,530010.0,530010.0,530010.0,530010.0,530010.0,530010.0
codRegiaoSaude,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,53001.0,53001.0,53001.0,53001.0,53001.0,53001.0,53001.0,53001.0,53001.0,53001.0
nomeRegiaoSaude,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DISTRITO FEDERAL,DISTRITO FEDERAL,DISTRITO FEDERAL,DISTRITO FEDERAL,DISTRITO FEDERAL,DISTRITO FEDERAL,DISTRITO FEDERAL,DISTRITO FEDERAL,DISTRITO FEDERAL,DISTRITO FEDERAL
data,2022-07-01,2022-07-02,2022-07-03,2022-07-04,2022-07-05,2022-07-06,2022-07-07,2022-07-08,2022-07-09,2022-07-10,...,2022-09-13,2022-09-14,2022-09-15,2022-09-16,2022-09-17,2022-09-18,2022-09-19,2022-09-20,2022-09-21,2022-09-22
semanaEpi,26,26,27,27,27,27,27,27,27,28,...,37,37,37,37,37,38,38,38,38,38
populacaoTCU2019,210147125.0,210147125.0,210147125.0,210147125.0,210147125.0,210147125.0,210147125.0,210147125.0,210147125.0,210147125.0,...,3015268.0,3015268.0,3015268.0,3015268.0,3015268.0,3015268.0,3015268.0,3015268.0,3015268.0,3015268.0
casosAcumulado,32434063,32471847,32490422,32535923,32610514,32687680,32759730,32830844,32874501,32896464,...,838167,838302,838367,838413,838413,838413,838501,838530,838573,838619
casosNovos,76045,37784,18575,45501,74591,77166,72050,71114,43657,21963,...,146,135,65,46,0,0,88,29,43,46
obitosAcumulado,671700,671858,671911,672033,672429,672790,673073,673339,673554,673610,...,11825,11825,11825,11825,11825,11825,11825,11828,11829,11829
obitosNovos,284,158,53,122,396,361,283,266,215,56,...,0,0,0,0,0,0,0,3,1,0
Recuperadosnovos,30873682.0,30880584.0,30906575.0,30967114.0,31039055.0,31077538.0,31094805.0,31119463.0,31142535.0,31181066.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
emAcompanhamentoNovos,888681.0,919405.0,911936.0,896776.0,899030.0,937352.0,991852.0,1038042.0,1058412.0,1041788.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
interior/metropolitana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [46]:
#Seleçao pelo nome do estado
covid_df["estado"]

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
471991     DF
471992     DF
471993     DF
471994     DF
471995     DF
Name: estado, Length: 471996, dtype: object

In [47]:
#Seleçao pelo nome de mais de uma coluna
covid_df[["estado", "obitosAcumulado", "municipio"]]

       estado  obitosAcumulado municipio
0         NaN           671700       NaN
1         NaN           671858       NaN
2         NaN           671911       NaN
3         NaN           672033       NaN
4         NaN           672429       NaN
...       ...              ...       ...
471991     DF            11825  Brasília
471992     DF            11825  Brasília
471993     DF            11828  Brasília
471994     DF            11829  Brasília
471995     DF            11829  Brasília

[471996 rows x 3 columns]

In [48]:
# Indexação booleana
#loc - especificar as linhas e colunas que vc quer
#covid_df.loc[LINHAS de:até , [COLUNAS]]
covid_df.loc[4150:4169 , ["regiao", "estado", "municipio", "obitosAcumulado", "data"]]

     regiao estado            municipio  obitosAcumulado        data
4150  Norte     RO  Santa Luzia D'Oeste               26  2022-08-04
4151  Norte     RO  Santa Luzia D'Oeste               26  2022-08-05
4152  Norte     RO  Santa Luzia D'Oeste               26  2022-08-06
4153  Norte     RO  Santa Luzia D'Oeste               26  2022-08-07
4154  Norte     RO  Santa Luzia D'Oeste               26  2022-08-08
4155  Norte     RO  Santa Luzia D'Oeste               26  2022-08-09
4156  Norte     RO  Santa Luzia D'Oeste               26  2022-08-10
4157  Norte     RO  Santa Luzia D'Oeste               27  2022-08-11
4158  Norte     RO  Santa Luzia D'Oeste               27  2022-08-12
4159  Norte     RO  Santa Luzia D'Oeste               27  2022-08-13
4160  Norte     RO  Santa Luzia D'Oeste               27  2022-08-14
4161  Norte     RO  Santa Luzia D'Oeste               27  2022-08-15
4162  Norte     RO  Santa Luzia D'Oeste               27  2022-08-16
4163  Norte     RO  Santa Luzia D'Oeste               27  2022-08-17
4164  Norte     RO  Santa Luzia D'Oeste               27  2022-08-18
4165  Norte     RO  Santa Luzia D'Oeste               27  2022-08-19
4166  Norte     RO  Santa Luzia D'Oeste               27  2022-08-20
4167  Norte     RO  Santa Luzia D'Oeste               28  2022-08-21
4168  Norte     RO  Santa Luzia D'Oeste               28  2022-08-22
4169  Norte     RO  Santa Luzia D'Oeste               28  2022-08-23

In [49]:
#Selecionar a linha com o iloc
covid_df.iloc[7000]

regiao                         Norte
estado                            AC
municipio                  Brasiléia
coduf                             12
codmun                      120010.0
codRegiaoSaude               12001.0
nomeRegiaoSaude            ALTO ACRE
data                      2022-07-29
semanaEpi                         30
populacaoTCU2019             26278.0
casosAcumulado                  3882
casosNovos                         9
obitosAcumulado                   50
obitosNovos                        0
Recuperadosnovos                 NaN
emAcompanhamentoNovos            NaN
interior/metropolitana           0.0
Name: 7000, dtype: object

In [50]:
#Selecionar a linha com o iloc como dataframe
covid_df.iloc[[3000]]

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
3000,Norte,RO,Corumbiara,11,110007.0,11006.0,CONE SUL,2022-08-30,35,7391.0,2168,0,25,0,NaN,NaN,0.0

In [51]:
#O iloc pode ser passado como uma matriz, "Filtro"
#covid_df.iloc[linhas: , coluna2:coluna3]
covid_df.iloc[9850:9900 , 3:7]

#covid_filtro = covid_df.iloc[9850:9900 , 3:7]_to (pra salvar essa nova tabela com um filtro)

      coduf    codmun  codRegiaoSaude       nomeRegiaoSaude
9850     13  130083.0         13002.0  RIO NEGRO E SOLIMOES
9851     13  130083.0         13002.0  RIO NEGRO E SOLIMOES
9852     13  130083.0         13002.0  RIO NEGRO E SOLIMOES
9853     13  130083.0         13002.0  RIO NEGRO E SOLIMOES
9854     13  130083.0         13002.0  RIO NEGRO E SOLIMOES
9855     13  130083.0         13002.0  RIO NEGRO E SOLIMOES
9856     13  130083.0         13002.0  RIO NEGRO E SOLIMOES
9857     13  130083.0         13002.0  RIO NEGRO E SOLIMOES
9858     13  130083.0         13002.0  RIO NEGRO E SOLIMOES
9859     13  130083.0         13002.0  RIO NEGRO E SOLIMOES
9860     13  130083.0         13002.0  RIO NEGRO E SOLIMOES
9861     13  130083.0         13002.0  RIO NEGRO E SOLIMOES
9862     13  130083.0         13002.0  RIO NEGRO E SOLIMOES
9863     13  130083.0         13002.0  RIO NEGRO E SOLIMOES
9864     13  130083.0         13002.0  RIO NEGRO E SOLIMOES
9865     13  130083.0         13002.0  RIO NEGRO E SOLIMOES
9866     13  130083.0         13002.0  RIO NEGRO E SOLIMOES
9867     13  130083.0         13002.0  RIO NEGRO E SOLIMOES
9868     13  130083.0         13002.0  RIO NEGRO E SOLIMOES
9869     13  130083.0         13002.0  RIO NEGRO E SOLIMOES
9870     13  130083.0         13002.0  RIO NEGRO E SOLIMOES
9871     13  130083.0         13002.0  RIO NEGRO E SOLIMOES
9872     13  130083.0         13002.0  RIO NEGRO E SOLIMOES
9873     13  130083.0         13002.0  RIO NEGRO E SOLIMOES
9874     13  130083.0         13002.0  RIO NEGRO E SOLIMOES
9875     13  130083.0         13002.0  RIO NEGRO E SOLIMOES
9876     13  130083.0         13002.0  RIO NEGRO E SOLIMOES
9877     13  130083.0         13002.0  RIO NEGRO E SOLIMOES
9878     13  130083.0         13002.0  RIO NEGRO E SOLIMOES
9879     13  130083.0         13002.0  RIO NEGRO E SOLIMOES
9880     13  130083.0         13002.0  RIO NEGRO E SOLIMOES
9881     13  130083.0         13002.0  RIO NEGRO E SOLIMOES
9882     13  130083.0         13002.0  RIO NEGRO E SOLIMOES
9883     13  130083.0         13002.0  RIO NEGRO E SOLIMOES
9884     13  130083.0         13002.0  RIO NEGRO E SOLIMOES
9885     13  130083.0         13002.0  RIO NEGRO E SOLIMOES
9886     13  130083.0         13002.0  RIO NEGRO E SOLIMOES
9887     13  130083.0         13002.0  RIO NEGRO E SOLIMOES
9888     13  130083.0         13002.0  RIO NEGRO E SOLIMOES
9889     13  130083.0         13002.0  RIO NEGRO E SOLIMOES
9890     13  130083.0         13002.0  RIO NEGRO E SOLIMOES
9891     13  130083.0         13002.0  RIO NEGRO E SOLIMOES
9892     13  130083.0         13002.0  RIO NEGRO E SOLIMOES
9893     13  130083.0         13002.0  RIO NEGRO E SOLIMOES
9894     13  130083.0         13002.0  RIO NEGRO E SOLIMOES
9895     13  130083.0         13002.0  RIO NEGRO E SOLIMOES
9896     13  130083.0         13002.0  RIO NEGRO E SOLIMOES
9897     13  130083.0         13002.0  RIO NEGRO E SOLIMOES
9898     13  130083.0         13002.0  RIO NEGRO E SOLIMOES
9899     13  130083.0         13002.0  RIO NEGRO E SOLIMOES

## Indexação booleanda

In [56]:
#Selecionar o codigo do estado - filtro
covid_df[covid_df['coduf'] == 23]

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
840,Nordeste,CE,NaN,23,NaN,NaN,NaN,2022-07-01,26,9132078.0,1267955,1556,27200,14,NaN,NaN,NaN
841,Nordeste,CE,NaN,23,NaN,NaN,NaN,2022-07-02,26,9132078.0,1269537,1582,27212,12,NaN,NaN,NaN
842,Nordeste,CE,NaN,23,NaN,NaN,NaN,2022-07-03,27,9132078.0,1270401,864,27216,4,NaN,NaN,NaN
843,Nordeste,CE,NaN,23,NaN,NaN,NaN,2022-07-04,27,9132078.0,1270625,224,27216,0,NaN,NaN,NaN
844,Nordeste,CE,NaN,23,NaN,NaN,NaN,2022-07-05,27,9132078.0,1272422,1797,27227,11,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93151,Nordeste,CE,Viçosa do Ceará,23,231410.0,23013.0,13ª REGIAO TIANGUA,2022-09-18,38,60889.0,6426,0,163,0,NaN,NaN,0.0
93152,Nordeste,CE,Viçosa do Ceará,23,231410.0,23013.0,13ª REGIAO TIANGUA,2022-09-19,38,60889.0,6426,0,163,0,NaN,NaN,0.0
93153,Nordeste,CE,Viçosa do Ceará,23,231410.0,23013.0,13ª REGIAO TIANGUA,2022-09-20,38,60889.0,6426,0,163,0,NaN,NaN,0.0
93154,Nordeste,CE,Viçosa do Ceará,23,231410.0,23013.0,13ª REGIAO TIANGUA,2022-09-21,38,60889.0,6429,3,163,0,NaN,NaN,0.0
93155,Nordeste,CE,Viçosa do Ceará,23,231410.0,23013.0,13ª REGIAO TIANGUA,2022-09-22,38,60889.0,6429,0,163,0,NaN,NaN,0.0

In [57]:
covid_df[covid_df['codmun'] == 230440]

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
82572,Nordeste,CE,Fortaleza,23,230440.0,23001.0,1ª REGIAO FORTALEZA,2022-07-01,26,2669342.0,369868,387,11307,2,NaN,NaN,1.0
82573,Nordeste,CE,Fortaleza,23,230440.0,23001.0,1ª REGIAO FORTALEZA,2022-07-02,26,2669342.0,370221,353,11311,4,NaN,NaN,1.0
82574,Nordeste,CE,Fortaleza,23,230440.0,23001.0,1ª REGIAO FORTALEZA,2022-07-03,27,2669342.0,370565,344,11315,4,NaN,NaN,1.0
82575,Nordeste,CE,Fortaleza,23,230440.0,23001.0,1ª REGIAO FORTALEZA,2022-07-04,27,2669342.0,370647,82,11315,0,NaN,NaN,1.0
82576,Nordeste,CE,Fortaleza,23,230440.0,23001.0,1ª REGIAO FORTALEZA,2022-07-05,27,2669342.0,371138,491,11320,5,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82651,Nordeste,CE,Fortaleza,23,230440.0,23001.0,1ª REGIAO FORTALEZA,2022-09-18,38,2669342.0,391537,-9,11494,0,NaN,NaN,1.0
82652,Nordeste,CE,Fortaleza,23,230440.0,23001.0,1ª REGIAO FORTALEZA,2022-09-19,38,2669342.0,391552,15,11494,0,NaN,NaN,1.0
82653,Nordeste,CE,Fortaleza,23,230440.0,23001.0,1ª REGIAO FORTALEZA,2022-09-20,38,2669342.0,391550,-2,11497,3,NaN,NaN,1.0
82654,Nordeste,CE,Fortaleza,23,230440.0,23001.0,1ª REGIAO FORTALEZA,2022-09-21,38,2669342.0,391556,6,11503,6,NaN,NaN,1.0
82655,Nordeste,CE,Fortaleza,23,230440.0,23001.0,1ª REGIAO FORTALEZA,2022-09-22,38,2669342.0,391519,-37,11504,1,NaN,NaN,1.0

In [59]:
#Selecionando vários codigo do estado
covid_df[(covid_df['coduf'] > 22) & (covid_df['coduf'] < 27)]

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
840,Nordeste,CE,NaN,23,NaN,NaN,NaN,2022-07-01,26,9132078.0,1267955,1556,27200,14,NaN,NaN,NaN
841,Nordeste,CE,NaN,23,NaN,NaN,NaN,2022-07-02,26,9132078.0,1269537,1582,27212,12,NaN,NaN,NaN
842,Nordeste,CE,NaN,23,NaN,NaN,NaN,2022-07-03,27,9132078.0,1270401,864,27216,4,NaN,NaN,NaN
843,Nordeste,CE,NaN,23,NaN,NaN,NaN,2022-07-04,27,9132078.0,1270625,224,27216,0,NaN,NaN,NaN
844,Nordeste,CE,NaN,23,NaN,NaN,NaN,2022-07-05,27,9132078.0,1272422,1797,27227,11,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141703,Nordeste,PE,Xexéu,26,261650.0,26008.0,PALMARES,2022-09-18,38,14725.0,1139,0,30,0,NaN,NaN,0.0
141704,Nordeste,PE,Xexéu,26,261650.0,26008.0,PALMARES,2022-09-19,38,14725.0,1139,0,30,0,NaN,NaN,0.0
141705,Nordeste,PE,Xexéu,26,261650.0,26008.0,PALMARES,2022-09-20,38,14725.0,1139,0,30,0,NaN,NaN,0.0
141706,Nordeste,PE,Xexéu,26,261650.0,26008.0,PALMARES,2022-09-21,38,14725.0,1139,0,30,0,NaN,NaN,0.0
141707,Nordeste,PE,Xexéu,26,261650.0,26008.0,PALMARES,2022-09-22,38,14725.0,1139,0,30,0,NaN,NaN,0.0

## Operações

In [ ]:
# Media de uma coluna, dado específico = mean

In [60]:
covid_df['casosNovos'].mean()

14.355865303943254

In [72]:
mediaObitosAcumulados = covid_df['obitosAcumulado'].mean()
print(f"Sua media de casos acumulados é de {mediaObitosAcumulados:.2f}")

Sua media de casos acumulados é de 363.12

In [73]:
#Entradas por estado
covid_df['estado'].value_counts()

MG    71820
SP    54348
RS    41916
BA    35196
PR    33684
SC    24948
GO    20832
PI    18984
PB    18900
MA    18396
PE    15708
CE    15624
RN    14196
PA    12180
MT    12012
TO    11844
AL     8736
RJ     7896
MS     6720
ES     6720
SE     6468
AM     5292
RO     4536
AC     1932
AP     1428
RR     1428
DF      168
Name: estado, dtype: int64

In [74]:
#Entradas nopvas por estado, percentual
covid_df['estado'].value_counts(normalize=True)

MG    0.152189
SP    0.115166
RS    0.088822
BA    0.074582
PR    0.071378
SC    0.052866
GO    0.044144
PI    0.040228
PB    0.040050
MA    0.038982
PE    0.033286
CE    0.033108
RN    0.030082
PA    0.025810
MT    0.025454
TO    0.025098
AL    0.018512
RJ    0.016732
MS    0.014240
ES    0.014240
SE    0.013706
AM    0.011214
RO    0.009612
AC    0.004094
AP    0.003026
RR    0.003026
DF    0.000356
Name: estado, dtype: float64

In [ ]:
def soma(x,y):
  s = x+y
  return s

##Funcao anônima
  lambda x,y: x+y

In [75]:
#Ele traz pra o maior valor de casos novos e obitos
#apply = aplicar uma função
#função = (lambda x: x.max())
covid_df[["casosNovos" , "obitosNovos"]].apply(lambda x: x.max())

casosNovos     107959
obitosNovos       762
dtype: int64

In [76]:
#Ordenar uma série = coluna
covid_df['estado'].sort_values(ascending=True)

8149     AC
7553     AC
7554     AC
7555     AC
7556     AC
       ...
79      NaN
80      NaN
81      NaN
82      NaN
83      NaN
Name: estado, Length: 471996, dtype: object

In [78]:
#Ordenar dataFrame = tabela inteira
covid_df.sort_values(by='estado', ascending = True)

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
8149,Norte,AC,Santa Rosa do Purus,12,120043.0,12002.0,BAIXO ACRE E PURUS,2022-07-02,26,6540.0,1174,0,7,0,NaN,NaN,0.0
7553,Norte,AC,Jordão,12,120032.0,12002.0,BAIXO ACRE E PURUS,2022-09-16,37,8317.0,728,0,2,0,NaN,NaN,0.0
7554,Norte,AC,Jordão,12,120032.0,12002.0,BAIXO ACRE E PURUS,2022-09-17,37,8317.0,728,0,2,0,NaN,NaN,0.0
7555,Norte,AC,Jordão,12,120032.0,12002.0,BAIXO ACRE E PURUS,2022-09-18,38,8317.0,728,0,2,0,NaN,NaN,0.0
7556,Norte,AC,Jordão,12,120032.0,12002.0,BAIXO ACRE E PURUS,2022-09-19,38,8317.0,728,0,2,0,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,Brasil,NaN,NaN,76,NaN,NaN,NaN,2022-09-18,38,210147125.0,34587047,4984,685376,42,33734153.0,167518.0,NaN
80,Brasil,NaN,NaN,76,NaN,NaN,NaN,2022-09-19,38,210147125.0,34592027,4980,685428,52,33750459.0,156140.0,NaN
81,Brasil,NaN,NaN,76,NaN,NaN,NaN,2022-09-20,38,210147125.0,34600768,8741,685518,90,33766841.0,148409.0,NaN
82,Brasil,NaN,NaN,76,NaN,NaN,NaN,2022-09-21,38,210147125.0,34607947,7179,685604,86,33779588.0,142755.0,NaN
83,Brasil,NaN,NaN,76,NaN,NaN,NaN,2022-09-22,38,210147125.0,34616655,8708,685677,73,33788724.0,142254.0,NaN